{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pantalla de Inicio de Sesión</title>
<link type="text/css" href='{% static "css/index.css" %}' rel='stylesheet'/>
</head>
<body>
  <div class="container">
    <h2>BIENVENIDO A NBA360</h2>
    <a href="{% url 'inicio_sesion' %}"><button id="login">Iniciar Sesión</button></a>
    <a href="{% url 'registro' %}"><button id="registro">Registrarse</button></a>
    <a href="{% url 'entrar_invitado' %}"><button id="invitado">Entrar como invitado</button></a>

  </div>

</body>
</html>
