body {
    width: 300px; /* Ancho del contenedor del formulario */
    margin: 0 auto; /* Centrar horizontalmente */
    display: flex; /* Activar flexbox */
    flex-direction: column; /* Organizar los elementos en columna */
    justify-content: center; /* Centrar verticalmente */
    height: 100vh; /* Altura del contenedor igual a la altura de la ventana */
    background-image: url("/static/images/img_inicio_sesion.e32dbd17e27d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.form-container {
    width: 300px; /* Ancho del formulario */
}

h2 {
    text-align: center; /* Centra horizontalmente el encabezado */
    margin-bottom: 20px; /* Espacio entre el encabezado y el formulario */
}

form div {
    margin-bottom: 10px; /* Espacio entre los campos */
}

label {
    display: block; /* Coloca las etiquetas en una nueva línea */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Cambia el color de fondo del botón al pasar el ratón */
}

#login {
    display: block;
    margin: 10px auto;
    background-color: #4CAF50;
    color: white;
    font-size: 35px;
    border-radius: 10px;
    width: 500px;

  }
